# backup files
*~
# vim swap files
*.swp
# images
*.jpeg
*.gif
*.png
*.pdf
*.eps
# .log files
*.log
# GNUplot files
#*.gpl
# data files
*.dat
*.txt
*.tex

# executabl
*.a
*.o
*.d

ac_fit
analisi
binning
corr_length
ising_potts
susc

